<h1>Todo Items</h1>

  <table class='table  table-border table-prmiary '>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= fa_icon "file", text:"" %><span>Description</span> </th>
        <th scope="col"><%= fa_icon "check", text: ""%> <span>Completed</span> </th>
        <th scope="col"><%= fa_icon "battery-full", text: ""%> <span>Status</span> </th> 
        <th scope="col"><%= fa_icon "trash", text: ""%> <span>Delete</span> </th>
      </tr>
    </thead>
  
    <tbody>
      <% @todo_items.each do |todo_item| %>
        <tr class="<%=completed?(todo_item)%>">
          <th scope="row"><%= todo_item.id %></th>
          <td><%= link_to todo_item.description , edit_todo_list_todo_item_path(@todo_list,todo_item.id)%></td>
          <td> 
              <%= render '/todo_items/completed_status' , todo_item: todo_item%>             
             
          </td>
          <td><%= todo_item.status %></td>
          <td><%= link_to 'Delete', todo_list_todo_item_path(@todo_list,todo_item.id), :method => :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%#= link_to 'New Todo Item', new_todo_list_todo_item_url(), class: 'btn btn-primary'%>
<%= render 'form', todo_list: @todo_list%>
<br>
<%= link_to 'Back to All Lists',  root_path %>
